.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "selectedCountry"
    "weather"
    "time"
    "pendingTasks"
    "completedTasks"
    "timeZones"
    "countries";
  grid-template-columns: 1fr;
  gap: 1rem;
}
.grid > * {
  width: 100%;
  height: 100%;
}

.weather {
  grid-area: weather;
}
.selectedCountry {
  grid-area: selectedCountry;
}
.pendingTasks {
  grid-area: pendingTasks;
}
.completedTasks {
  grid-area: completedTasks;
}
.time {
  grid-area: time;
}
.timeZones {
  grid-area: timeZones;
}
.countries {
  grid-area: countries;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-areas:
      "weather selectedCountry"
      "time timeZones"
      "pendingTasks completedTasks"
      "countries countries";
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-areas:
      "weather weather selectedCountry selectedCountry countries"
      "pendingTasks pendingTasks time time countries"
      "completedTasks completedTasks timeZones timeZones countries";
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  }
}
