@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  /* Theme colors */
  --primary-color: #57CAF7;
  --primary-color-lighter: #89DAF9;
  --primary-color-darker: #46A2C6;

  --secondary-color: #5C82E4;
  --secondary-color-lighter: #8DA8EC;
  --secondary-color-darker: #4A68B6;

  /* Feedback colors */
  --success-color: #27A580;
  --warning-color: #E0B412;
  --fail-color: #C94145;

  /* Neutral colors */
  --white: #FAFAFA;
  --black: #2C2C2C;

  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  font-weight: 700;
}
h1, .h1 {
  font-size: 2.25rem;
}
h2, .h2 {
  font-size: 2rem;
}
h3, .h3 {
  font-size: 1.75rem;
}
h4  .h4 {
  font-size: 1.5rem;
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1.125rem;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.container {
  padding: 0 1rem;
}

/* Buttons */
.btn {
  padding: .5rem 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.btn--primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
}
.btn--primary:hover {
  border-color: var(--primary-color-darker);
  background-color: var(--primary-color-darker);
}

.btn--outline {
  border-color: var(--white);
  color: var(--white);
}
.btn--outline:hover {
  border-color: var(--primary-color-lighter);
  background-color: var(--primary-color-lighter);
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  html,
  body,
  input,
  button {
    font-size: 1.125rem;
  }

  h1, .h1 {
    font-size: 2.5rem;
  }
  h2, .h2 {
    font-size: 2.25rem;
  }
  h3, .h3 {
    font-size: 2rem;
  }
  h4  .h4 {
    font-size: 1.75rem;
  }
  h5, .h5 {
    font-size: 1.5rem;
  }
  h6, .h6 {
    font-size: 1.25rem;
  }

  .container {
    padding: 0 1.5rem;
  }

  .btn {
    padding: .5rem 1.25rem;
  }
}

@media only screen and (min-width: 992px) {
  html,
  body,
  input,
  button {
    font-size: 1.25rem;
  }

  h1, .h1 {
    font-size: 2.75rem;
  }
  h2, .h2 {
    font-size: 2.5rem;
  }
  h3, .h3 {
    font-size: 2.25rem;
  }
  h4, .h4 {
    font-size: 2rem;
  }
  h5, .h5 {
    font-size: 1.75rem;
  }
  h6, .h6 {
    font-size: 1.5rem;
  }

  .container {
    padding: 0 2rem;
  }

  .btn {
    padding: .5rem 1.5rem;
  }
}
