.item {
  margin-bottom: .25rem;
}
.itemActive .button {
  background-color: var(--secondary-color-darker);
  color: var(--white);
}

.button {
  width: 100%;
  padding: .25rem .5rem !important;
  display: flex;
  align-items: center;
  text-align: left;
}
.button:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}
.button span {
  margin-left: 1rem;
}
.button span, .timeZones .item .button {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  display: inline-block;
}

.error {
  color: var(--warning-color);
}

.timeZones {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.timeZones .item {
  padding: 0 .125rem;
  width: 50%;
}

@media only screen and (min-width: 992px) {
  .timeZones .item .button {
    font-size: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .timeZones .item {
    padding: 0 .125rem;
    width: 33%;
  }
}
